@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#index {
    font-family: "Chicle";
    background: linear-gradient(-45deg, #b14e0c, #d46e2a, #c26f39, #db915f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;

}

#game-box-1 {
    background: linear-gradient(-45deg, #db915f, #af7046, #d46e2a, #b14e0c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 70vw;
    height: 80vh;
    position: relative;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

.header-1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 35px;
}
#game-name {
    margin-bottom: 30px;
    position: fixed;
}

.game-description {
    width: 60vw;
    text-align: end;
    padding-top: 150px;
    position: fixed;
    z-index: 2;

}

.nico-and-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    width: 70vw;
    height: 75vh;
}

#nico {
    width: 30vw;
    height: 60vh;
}

.game-link {
    height: 10vh;
    width: 10wh;
    z-index: 2;
}

.start-game {
    font-family: "Chicle";
    font-size: 25px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    height: 15vh;
    width: 15vw;
    cursor: pointer;
    outline: none;
}






.fifties {
    font-family: "Atomic Age";
    background: linear-gradient(-45deg, #80dbdf, #cdecee, #a14639, #7e564c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.sixties {
    font-family: "Monoton";
    font-size: 15px;
    background: linear-gradient(-45deg, #133657, #365068, #f8f6e2, #fffce8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.seventies {
    font-family: "Chicle";
    font-size: 18px;
    background: linear-gradient(-45deg, #6d4d20, #68401b, #5d664f, #4c7533);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.eighties {
    font-family: "Rock Salt";
    font-size: 11px;
    background: linear-gradient(-45deg, #e0caac, #e9e0d2, #fd8829, #af570e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.ninties {
    font-family: "Orbitron";
    font-size: 18px;
    background: linear-gradient(-45deg, #c9a77c, #ffe7c8, #4a4469, #757091);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


#game-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
}

#game-box-2 {
    width: 80vw;
    height: 90vh;
    margin-top: 25px;
    position: relative;
    z-index: auto;
}

.fifties-pic {
    background-image: url('./images/50\'s\ Radio.gif');
    background-size: 50vh;
    z-index: auto;
}

.sixties-pic {
    background-image: url('./images/60s-radio.png');
    background-size: 50vh;
}

.seventies-pic {
    background-image: url('./images/70s-Radio.png');
    background-size: 45vh;
}

.eighties-pic {
    background-image: url('./images/80s-radio.png');
    background-size: 50vh;
}

.ninties-pic {
    background-image: url('./images/90s-radio.png');
    background-size: 50vh;
}

.header-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-2 h1 {
    color: beige;
    background-color: #c26f39;
    border-radius: 8px;
    padding: 10px;
    z-index: auto;
}

.header-2 h2 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(255, 255, 235);
    background-color: #c26f39;
    border-radius: 8px;
    padding: 10px;
    z-index: auto;
}

.choice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: auto;
}

.play-song {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    z-index: auto;
}

.btn {
    font-family: "Tenali Ramakrishna";
    font-size: 18px;
    letter-spacing: 2px;
    color: beige;
    background-color: #c26f39;
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    outline: none;
    width: 20vw;
    cursor: pointer;
    z-index: auto;
}

.play-replay {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    width: 10vw;
    cursor: pointer;
    z-index: auto;
}
.life-bar {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 25px;
    z-index: auto;
}

.life-bar p {
    font-family: "Tenali Ramakrishna";
    font-size: 18px;
    letter-spacing: 2px;
    color: beige;
    background-color: #c26f39;
    width: 18vw;
    text-align: center;
    border-radius: 8px;
    z-index: auto;
}

.lives {
    display: flex;
    flex-direction: row;
    z-index: auto;
}
.life {
    height: 10vh;
    width: 5vw;
    margin: 0px, 55px;
    z-index: auto;
}

#body-page {
    position: relative;
    z-index: auto;
}

.win-lose-popups {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 40vw;
    margin-top: 175px;
    margin-left: 425px;
    z-index: 1;
}

.loser-message {
    font-family: "Chicle";
    font-size: 50px;
    text-align: center;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d46e2a;
    border-radius: 8px;
    width: 50vw;
    height: 50vh;
    z-index: 1;
}

.winner-message {
    font-family: "Chicle";
    font-size: 50px;
    text-align: center;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d46e2a;
    border-radius: 8px;
    width: 50vw;
    height: 50vh;
    z-index: 1;
}

.homepage {
    color: beige;
    background-color: rgb(163, 159, 159);
    outline: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: "Chicle";
    font-size: 25px;
    margin-top: 25px;
    outline: none;
}